.ant-popover-inner-content {
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
  margin-bottom: 0;
  padding: 0;
}

ul {
  list-style: none;
}
ol, ul, dl {
  margin-bottom: 0 ;
  padding: 0;
}

.ant-popover-inner-content {
  padding: 0;
}


.inline-flex {
  display: inline-flex !important;
}
